body {
  background-color: #303030;
  color: #fff;
  font-family: 'Space Mono', monospace;
  font-size: 16px;
}

.wrapper {
  margin: 0 auto;
  max-width: 350px;
}

/* main */

.main {
  display: flex;
  justify-content: center;
  margin: 50px auto;
}

.main__info {
  margin-left: 15px;
}

.main__p {
  margin: 5px;
}

.avi {
  display: inline-block;
  position: relative;
  width: 130px;
  height: 130px;
  overflow: hidden;
  border-radius: 50%;
}

.avi__img {
  width: auto;
  height: 200px;
  margin-left: -35px;
  margin-top: -40px;
}

/* content */

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* socials */

.socials {
  margin-top: 10px;
}

.socials__link {
  color: #fff;
  font-size: 20px;
  text-decoration: none;
}

.socials__link:hover,
.socials__link:focus {
  color: #ba4f61;
}

.section {
  margin-bottom: 20px;
}

.section__head {
  border-radius: 3px;
  color: #fff;
  font-family: 'Space Mono', monospace;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: .5px;
  text-transform: uppercase;
}

.section.section--wishlists {
  margin-right: 0;
}

/* links */

.link {
  align-items: center;
  background-color: #ba4f61;
  border: 1px solid #813542;
  border-radius: 5px;
  box-shadow: 0 1px #813542,
  inset 0 2px #dd7e8e;
  color: #fff;
  display: flex;
  font-size: 14px;
  font-weight: 700;
  justify-content: center;
  letter-spacing: .5px;
  margin-bottom: 5px;
  padding: 6px;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.link:hover,
.link:focus {
  background-color: #813542;
  box-shadow: inset 0 -2px #984251;
}

.section__links {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  padding: 0;
}

.section__item {
  list-style: none;
  margin-bottom: 5px;
  position: relative;
}

.section__icon {
  align-items: center;
  display: flex;
  left: 10px;
  position: absolute;
}
