body {
  color: #292929;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}

.wrapper {
  margin: 0 auto;
  max-width: 600px;
}

.main {
  margin: 50px auto;
}

.grid {
  grid-template-columns: 1fr 1fr;
}

.section {
  margin-bottom: 20px;
}

.section__head {
  border-radius: 3px;
  color: #fff;
  font-family: 'Space Mono', monospace;
  font-size: 14px;
  letter-spacing: .5px;
  padding: 4px 8px;
  text-align: center;
  text-transform: uppercase;
}

.section__head.section__head--project {
  background-color: #33b3d0;
}

.section__head.section__head--social {
  background-color: #d03395;
}

.section__head.section__head--playlists {
  background-color: #54b008;
}

.section__head.section__head--wishlists {
  background-color: #6656e8;
}

.section.section--wishlists {
  margin-right: 0;
}

/* links */

.link {
  color: #292929;
  position: relative;
  text-decoration: none;
}

.section__link:after {
  content: '';
  display: inline;
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: rgba(165, 172, 244, .5);
  bottom: 3px;
  left: 0;
  right: 0;
  z-index: -1;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  border-radius: 0;
}

.section__link:hover::after {
  bottom: 0;
  height: 3px;
}

.section__link.section__link--project:after {
  background-color: #cfeff6;
}

.section__link.section__link--social:after {
  background-color: #f9c5e5;
}

.section__link.section__link--playlists:after {
  background-color: #b5dB96;
}

.section__link.section__link--wishlists:after {
  background-color: #c6beff;
}

.section__links {
  display: flex;
  flex-direction: column;
  margin: 8px;
  padding: 0;
}

.section__item {
  list-style: none;
  margin-bottom: 5px;
  position: relative;
}

@media screen and (max-width: 700px) {

  .main {
    margin: 60px 55px 40px 55px;
  }

  .grid {
    margin: auto 50px;
  }
}